#rennen_plaatje{
  width: 50%;
  padding-left: 25%
}
a.button{
  color: white;
}
h1{
  color: red
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #31d449;
}

li {
  float: left;
  border-right:1px solid #bbb;
  width: 9%;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15% 15%;
  text-decoration: none;
}

li #menu:hover:not(.active) {
  background-color: #111;
}
.heel-menu {
    height:38px;
    color:#FFF;
    width:100%;
    background:#000;
}
.heel-menu > ul > li {
    display:table-cell;

    white-space:nowrap;
    vertical-align:top;
}
.heel-menu > ul > li:last-child {
    width:45%;
}
.heel-menu > ul > li:last-child input {
    float:right;
    margin:5px;
}
.active {
  background-color: #438a3d;
}
#menu:link {
  background-color: grey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}
body{
  background-color: #d3d3d3;
}
#menu:hover, .menu:active {
  background-color: grey;
}
.button{
  background-color: black;
  padding: 35px 50px;
  font-size: 25px;
  border: 5px;
  border-style: outset;
  margin: 3%;
  width: 140px;
}


.button-links:hover, .button:hover, .button-rechts:hover{
  border-style: inset;
}
#knoppen_midden{
  width: 100%;
  text-align: center;
  border-radius: 2%;
  margin-top: 10%;
}
.introductie{
  color: black;
  width: 98%;
  background-color: white;
  text-align: center;
  padding:10px;
  border: 2px solid black;
}

.contact{
  color: white;
  width: 98%;
  background-color: grey;
  text-align: inherit;
  padding:10px;
  padding-bottom: 0px;
}
div.gallery img {
  width: 60%;
  height: auto;
}

div.desc {
  padding: 0px;
  text-align: center;
}

.gcse-searchbox, .gcse-searchresults {
  width: 10px;
}

#logo{
  width: 83%;
  height: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 50px;
  background-color: grey;
}
.balk{
  width: 50%;
  height: 45px;
  border-radius: 15px;
  border: 1px solid black;
}
#menu{
  width: 70%;
  height: 100%
}
.maps{
  text-align:  center;
}

#maps{
  border: 10px;
  padding: 10px;
}
div.relative {
  position: relative;
  width: 100%;
  height: auto;
  border: 3px solid #d3d3d3;
}
a{
  color: white;
}
div.absolute {
  position: absolute;
  font-size: 15px;
  top: 60%;
  right: 57%;
  width: 10%;
  height: 5%;
  background-color: grey;
  border: 3px solid #d3d3d3;
  border-style: outset;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  display: block;
}
p.informatie{
  margin-top: 3%;
  border: 2px solid black;
  border-right: 1px solid grey;
  background-color: grey;
  width: 75%;
}
.plaatje2{
  width: 100%;
  float: right;
}
.old{
  overflow: hidden;
}
#left{
  float: right;
}
div.absolute:hover{
  background-color: grey;
  border-style: inset;
}
.kopje{
  margin-right: 100%;
  margin-top: 0%;
}
.tekst-in-kopje{
  width: 70%
}
